.product-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    border: 0.5px solid rgb(218 218 218);
    gap: 10px;
}

.product-div:hover{
    transform: scale(1.05);
}

.product-img{
    width: 11rem;
    height: 11rem;
}

.product-description{
    display: flex;
    align-items: center;
    font-size: 11px;
    color: grey;
}

.product-name {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.product-price {
    font-weight: 800;
}

.star-icon {
    width: 13px;
}