.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background: linear-gradient(0.25turn,#fffffa, #feecb2, #feecb2);
}

.nav-logo{
    width: 100px;
    height: 100px;
}

.nav-logo-title{
    padding: 0;
    margin: 0;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-menu li{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #270f32;
}

.nav-cart-login{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-cart-login button {
    height: 40px;
    width: 110px;
    padding: 0;
    border: 1px solid #270f328d;
    border-radius: 75px;
    background-color: #f1a637;
}

.nav-cart-login button:hover{
    background-color: #e49a2a;
}

.nav-cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: -37px;
    margin-left: -37px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #b40505;
    color: white;
}